name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: echo "registry=https://registry.npmjs.org/" > "$RUNNER_TEMP/npmrc"
      - run: bun install
      - run: bun run typecheck
      - run: bun run lint
      - run: bun run format:check
      - run: bun test
      - run: bun run build
      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
      - run: NPM_CONFIG_USERCONFIG="$RUNNER_TEMP/npmrc" npm publish --access public --provenance
